VITE_SUPABASE_URL=https://gilrlmcjeyqnwllkprzi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpbHJsbWNqZXlxbndsbGtwcnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5MjcyNzIsImV4cCI6MjA4NTUwMzI3Mn0.K53YZ_gVrDtV4sYo-cmN-y8din6EWrgfVSoVZ1BIxTQ